body {
h  font-family "Arial", sans-serif;
  background-color: #f7f4f4;
  color: #927714 ;
  margin: 0;
  line-height: 1.6;
}
.box {
  margin: 30px;
  padding: 20px 20px 20px;
  width: 800px;
  height: 200px;
  background-color: rgb(221, 217, 225);
}
.container {
  display: flex;
}
.container {
  display: flex;
}

.box1 {
  flex: 1;
  padding: 20px;
}

.box3 {
  flex: 2;
}
.carte {
  border: solid red;
  border-width: 2px 5px;
  width: 300px;
  height: 200px;
  padding: 10px;
  margin: 50px 20px;
  border-radius: 8px;
  background-color: rgb(222, 210, 210);
}
.big {
border: solid red;
  border-width: 2px 2px;
  width: 100px;
}
